@charset "utf-8";
/* CSS Document */

/********************
* General
********************/

.hide {display:none;}

/*** Slide Show ***/
.slider {
float:left;
border:1px solid #eae9d3;
height:300px;
margin:0px 3px 3px 10px;
padding:5px;
position:relative;
width:586px;
}
.slider ul {margin:0;padding:0;height:300px;}
.slider ul li {display:inline;}

.slider .controls {text-align:center;padding-top:20px;height:17px;}
.slider .controls .number {background:url(../img/rotator/controls/control-dot.png) left -14px no-repeat;}
.slider .controls .selected,
.slider .controls .number:hover {background:url(../img/rotator/controls/control-dot.png) left top no-repeat;}
.slider .controls img {cursor:pointer;margin:0 10px;}

.slider h4 {font-size:15px;font-family:Tahoma, Geneva, sans-serif;text-transform:uppercase;margin:0;padding:5px 0;}
.slider h4 span {font-weight:normal;}
.slider p {line-height:14px;margin:0;padding:0;}
.slider p a {color:#888888;text-decoration:none;}

