.alt {
  color: #666;
  font-family: "Warnock Pro", "Goudy Old Style","Palatino","Book Antiqua", Georgia, serif;
  font-style: italic;
  font-weight: normal;
  font-size: 22px;
}

img.thumbnail {padding:5px; border:1px solid #e3e3e3;}
img.thumbnail:hover {padding:5px; border:1px solid #b0afaf;}

#topMenu{display:block;}
#topMenu ul{overflow:hidden;background:#f7f6f6; padding:0px; margin:0px; margin-bottom:10px;}
#topMenu ul li{float:left; list-style:none}
#topMenu ul li a{display:block;padding:11px 10px;text-decoration:none;color:#000;font-size:1.0em;font-weight:bold;line-height:1}
#topMenu ul li a:hover{background:#e3e2e2; color:#9e1b34;}
#topMenu ul a.current{background:#e3e2e2; color:#9e1b34;}

.imgGrid {
	float: left;
}